.profile-wrapper {
    display: flex;
    flex-direction: column;
}

.profile-header {
    margin-top: 0;
    margin-bottom: 28px;
}

.profile-header p {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.profile-body {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.10);
    width: fit-content;
}

.profile-padding {
    padding: 24px;
}

.pb-1 {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.pb-1 p {
    font-weight: 400;
    padding-left: 10px;
}

.pb-2 {
    display: flex;
    gap: 66px;
    font-weight: bold;
}

.name {
    display: flex;
    align-items: center;
}

.name p {
    font-weight: 400;
    padding-left: 10px;
}

.email {
    display: flex;
    align-items: center;
}

.email p {
    font-weight: 400;
    padding-left: 10px;
}

.pb-3 {
    display: flex;
    gap: 66px;
    font-weight: bold;
}

.createdat {
    display: flex;
    align-items: center;
}

.createdat p {
    font-weight: 400;
    padding-left: 10px;
}

.number {
    display: flex;
    align-items: center;
}

.number p {
    font-weight: 400;
    padding-left: 10px;
}

.pb-4 {
    display: flex;
    gap: 66px;
    font-weight: bold;
}

.role {
    display: flex;
    align-items: center;
}

.role p {
    font-weight: 400;
    padding-left: 10px;
}

.btn button {
    margin-top: 19px;
}
